 @import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@0;1&display=swap');
 /* I googled which fonts are best for website and I picked out Alegreya */
 /* standard @media, I will go with 768px and 760px again since my challenge 01, that was my gold standard and caused me to learn more */
 
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
 }

 li, a, button {
    font-family: "Alegreya";
    font-weight: 500px;
    font-size: 16px;
    color: black;
    text-decoration: none;
 }

 header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    /* padding on 15px 50px 15px 50p */
 }
/* practicing on flex */

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav__links {
    list-style: none;

}

.nav__links li  {
    display: inline-block;
    padding: 10px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}
/* The transition will be for all at 0.3 seconds and it will ease with 0s delay */
/* It will be easier to read it out since I have to find a way to describe my product to customer or peers later */

.nav__links li a:hover {
    color: aqua;
}

button {
    padding: 20px 40px; /* without padding, the button won't complete */
    background-color: rgba(0,136,169,1);
    /* rgba because they have alpha value. Use opacity more for less boring */
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 20px;
}

button:hover {
    background-color: green;   
}

/* HEADER AND NAV */
/*
@media only screen and (max-width: 760px;) {

}
*/
